// Colors
$brand-green: #00856F;
$brand-green-light: #DCE9E2;
$brand-lighter-green: #F7F9F9;
$brand-beige: #FFFAF1;
$brand-green-hover: #00453A;

$gray-headline: #212529;
$gray-paragraph: #495057;
$white:#FFFFFF;

// Font Sizes
$font-small: 0.875rem; // 14px
$font-regular: 1rem; // 16px
$font-medium: 1.125rem; // 18px
$font-big: 1.5rem // 24px
